<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Курсы валют по данным ЦБ РФ</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Курсы рубля к евро и доллару по данным ЦБ РФ</a>
<!--                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>-->

            </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
                <h1>Курс на {{date}}</h1>
                <p class="lead">При выборе воскресенья или понедельника курс будет показан на субботу из-за особенностей установки курса ЦБ РФ</p>
                <ol>
                    {% for code, val in values.items() %}
                        <p>{{code}}: {{val.0}} руб. за {{ val.1 }} {{ code }}</p>
                    {% endfor %}
                </ol>

                <form method="POST" action="/submit-date/">
                  <label for="date">Выберите дату:</label>
                  <input type="date" id="date" name="date">
                  <button type="submit">Отправить</button>
                </form>

            </div>
        </div>
<!--        &lt;!&ndash; Bootstrap core JS&ndash;&gt;-->
<!--        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>-->
<!--        &lt;!&ndash; Core theme JS&ndash;&gt;-->
<!--        <script src="js/scripts.js"></script>-->
    </body>
</html>
